body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: black; /* Cambiamos el color de fondo a negro */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
}

nav ul li:hover > ul {
    display: inherit;
}

nav ul ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 200px;
}

#precios {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #333;
    border-radius: 10px;
}

#precios table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

#precios th, #precios td {
    padding: 10px;
    border: 1px solid #555;
    text-align: left;
}

#precios th {
    background-color: #555;
}