body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: black; /* Cambiamos el color de fondo a negro */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
}

nav ul li:hover > ul {
    display: inherit;
}

nav ul ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 200px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000;
}

.container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; 
    transition: opacity 0.5s ease;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    color: #fff;
    flex: 1;
    padding-left: 40px; 
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    line-height: 1.5;
}
